
/*

    v.1.1.4

    Interactive Periodic Table - Copyright 2023 (c) Arturo Olivares
    style.css
    
*/

@font-face {
    font-family: 'Orbitron';
    src: url('assets/fonts/orbitron/Orbitron-VariableFont_wght.ttf') format('truetype'),
         url('assets/fonts/orbitron/static/Orbitron-Black.ttf') format('truetype'),
         url('assets/fonts/orbitron/static/Orbitron-Bold.ttf') format('truetype'),
         url('assets/fonts/orbitron/static/Orbitron-ExtraBold.ttf') format('truetype'),
         url('assets/fonts/orbitron/static/Orbitron-Medium.ttf') format('truetype'),
         url('assets/fonts/orbitron/static/Orbitron-Regular.ttf') format('truetype'),
         url('assets/fonts/orbitron/static/Orbitron-SemiBold.ttf') format('truetype');
}

*{
    font-family: 'Orbitron', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-periodic-table{
    /* border: 1px solid blue; */
    display: block;
    margin-top: 20vh;
}

.period{
    /* border: 1px solid green; */
    width: fit-content;
    display: block;
}

.element-cell{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    z-index: 1;
}

.void{
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}


.contents{
    width: 50px;
    height: 50px;
    /* border: 1px solid violet; */
    position: absolute;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 20px;
    width: 20px;
    /* border: 1px solid red; */
}

i{
    color: yellow;
}

/* Optimized sizes */

    /* Calcium, Zinc, Flerovium, Oganesson*/
    #cell-4-2 img, #cell-4-12 img, #cell-7-14 img, #cell-7-18 img{
        width: 25px;
    }

    /* Technetium, Ruthenium, Polonium, Francium, Nihonium, Tennessine*/
    #cell-5-7 img, #cell-5-8 img, #cell-6-16 img, #cell-7-1 img, #cell-7-13 img, #cell-7-17 img{
        width: 30px;
    }

    /* Arsenic */
    #cell-4-15 img, #cell-7-4 img{
        width: 15px;
    }

    /* Rutherfordium */
    #cell-7-4 img{
        width: 17px;
    }

/* END */

p{
    text-align: center;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    font-weight: 500;
}

#atomic-num, #elem-name, #elem-img, #elem-radioactivity, #atomic-mass{
    display: none;
}

.contents:hover{
    border: 1px solid black;
    scale: 5;
    width: 50px;
    height: 50px;
    background: transparent;
    backdrop-filter: blur(7px);
    position: absolute;
    z-index: 2;
    flex-direction: column;
}

.contents:hover #elem-symbol{
    font-size: 0.35em;
}

.contents:hover #atomic-num,
.contents:hover #elem-img, 
.contents:hover #elem-name, 
/* .contents:hover #elem-radioactivity, */
.contents:hover #atomic-mass {
    display: flex;
    font-size: 0.3em;
}

/* Radioactive elements*/

#cell-5-7 .contents:hover #elem-radioactivity,
#cell-6-16 .contents:hover #elem-radioactivity,
#cell-6-17 .contents:hover #elem-radioactivity,
#cell-6-18 .contents:hover #elem-radioactivity,
#cell-7-1 .contents:hover #elem-radioactivity,
#cell-7-2 .contents:hover #elem-radioactivity,
#cell-7-4 .contents:hover #elem-radioactivity,
#cell-7-5 .contents:hover #elem-radioactivity,
#cell-7-6 .contents:hover #elem-radioactivity,
#cell-7-7 .contents:hover #elem-radioactivity,
#cell-7-8 .contents:hover #elem-radioactivity,
#cell-7-9 .contents:hover #elem-radioactivity,
#cell-7-10 .contents:hover #elem-radioactivity,
#cell-7-11 .contents:hover #elem-radioactivity,
#cell-7-12 .contents:hover #elem-radioactivity,
#cell-7-13 .contents:hover #elem-radioactivity,
#cell-7-14 .contents:hover #elem-radioactivity,
#cell-7-15 .contents:hover #elem-radioactivity,
#cell-7-16 .contents:hover #elem-radioactivity,
#cell-7-17 .contents:hover #elem-radioactivity,
#cell-7-18 .contents:hover #elem-radioactivity 
{
    display: flex;
}

/* END */

.contents:hover #elem-radioactivity,
.contents:hover #atomic-num{
    font-size: 0.2em;
}

.contents:hover #atomic-mass{
    font-size: 0.17em!important;
}

/* Responsiveness */

    @media only screen and (max-width: 600px){
        .element-cell, .void{
            margin: 1.2px;
        }

        .element-cell, .void, .contents{
            width: 10px;
            height: 10px;

        }

        img{
            height: 6px;
            width: 6px;
            /* border: 1px solid red; */
        }

        /* Optimized sizes */

            /* Calcium, Zinc, Flerovium, Oganesson*/
            #cell-4-2 img, #cell-4-12 img, #cell-7-14 img, #cell-7-18 img{
                width: 7.5px;
            }

            /* Technetium, Ruthenium, Polonium, Francium, Nihonium, Tennessine*/
            #cell-5-7 img, #cell-5-8 img, #cell-6-16 img, #cell-7-1 img, #cell-7-13 img, #cell-7-17 img{
                width: 9px;
            }

            /* Arsenic */
            #cell-4-15 img, #cell-7-4 img{
                width: 4.5px;
            }

            /* Rutherfordium */
            #cell-7-4 img{
                width: 5.1px;
            }

        /* END */
        
                
        p{
            font-size: 0.35em;
        }

        .contents:hover{
            border: 0.25px solid black;
            width: 22px;
            height: 22px;
            font-size: xx-small;
        }


        /* Radioactive elements*/
        #cell-5-7 .contents:hover,
        #cell-6-16 .contents:hover,
        #cell-6-17 .contents:hover,
        #cell-6-18 .contents:hover,
        #cell-7-1 .contents:hover,
        #cell-7-2 .contents:hover,
        #cell-7-4 .contents:hover,
        #cell-7-5 .contents:hover,
        #cell-7-6 .contents:hover,
        #cell-7-7 .contents:hover,
        #cell-7-8 .contents:hover,
        #cell-7-9 .contents:hover,
        #cell-7-10 .contents:hover,
        #cell-7-11 .contents:hover,
        #cell-7-12 .contents:hover,
        #cell-7-13 .contents:hover,
        #cell-7-14 .contents:hover,
        #cell-7-15 .contents:hover,
        #cell-7-16 .contents:hover,
        #cell-7-17 .contents:hover,
        #cell-7-18 .contents:hover{
            font-size: 0.35em;
            width: 20px;
            height: 20px;
        }

    }